<!-- STEP 1: Select/add your questions -->
<div ng-show="(state == 1)">
    <section>
        <label>Templates: </label>
        <select ng-model="selectedTemplate">
            <option ng-repeat="template in q_templates" value="{{ template.href }}">
                {{ template.title }}
            </option>
        </select>
        <button ng-click="loadItems( selectedTemplate )">Load Items</button>
        <button ng-click="unloadItems()">Clear All</button>
        <h2>Questions:</h2>
        <ul class="question_roster">
            <li class="new_question">
                <h3>Add Question</h3>
                <p>
                    <span class="fa fa-question-circle"></span>
                    <input type="text" ng-model="newQuestion" />
                </p>
                <p>
                    <span class="fa fa-th-list"></span>
                    <input type="text" ng-model="newChoices" />
                </p>
                <p>
                    <span class="fa fa-check-square"></span>
                    <input type="text" ng-model="newAnswers" />
                </p>
                <button ng-click="addQuestion()">Add Question</button>
            </li>
            <li ng-repeat="item in items">
                <p>
                    <span class="fa fa-question-circle"></span>
                    <input type="text" ng-model="item.question" />
                </p>
                <p>
                    <span class="fa fa-th-list"></span>
                    <input type="text" ng-model="item.choices" />
                </p>
                <p>
                    <span class="fa fa-check-square"></span>
                    <input type="text" ng-model="item.answers" />
                </p>
                <button ng-click="removeQuestion(item)"><span class="fa fa-trash"></span> Remove</button>
            </li>
        </ul>
    </section>
    <button ng-click="next()" class="main">Start Quiz</button>
</div>

<!-- STEP 2: Take the quiz -->
<div ng-show="(state == 2)">
    <section class="status">
        <p>Score: {{ points }} &nbsp; Question {{ curr + 1 }} of {{ items.length }}</p>
        <button ng-click="restart()">Restart</button>
        <section ng-hide="(msgType == 0)"
                 ng-class="{ msg_correct: (msgType == 1), msg_wrong: (msgType == 2) }">
            <p class="answer-notif-header">{{ (msgType == 1) | strFromBool: "Correct!" : "Wrong!" }}</p>
            <p>Correct Answer: {{ items[curr].answers | strFromList: "," }}</p>
            <button ng-click="next()" class="main">Next Question</button>
        </section>
    </section>
    <section class="question" ng-show="(msgType == 0)">
        <h2>{{ items[curr].question }}</h2>
        <ol class="choices">
            <li ng-repeat="choice in items[curr].choices">
                <button ng-click="chooseAnswer(choice)">{{ choice }}</button>
            </li>
        </ol>
        <p>Answer: <input type="text" ng-model="answer"></input></p>
        <button ng-click="check()" class="main">Check</button>
    </section>
</div>

<!-- STEP 3: View results -->
<div ng-show="(state == 3)">
    <h3>Congratulations!</h3>
    <p>{{ points }} points</p>
    <button ng-click="restart()" class="main">Restart</button>
</div>
